@charset "utf-8";

/*----------------------
    Gooogle Fornts
----------------------*/
.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.shippori-mincho-b1-semibold {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 600;
    font-style: normal;
}
  

/*----------------------
    共通
----------------------*/
html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.imgbox {
    overflow: hidden;
}

/*----------------------
    コンテンツ幅
----------------------*/
.wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 60px 30px;
}

/*----------------------
    ヘッダー
----------------------*/
.header {
    background-color: #fdfdfd;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.header__container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
}

.logo {
    font-size: 2.5rem;
}

.nav__items {
    border-radius: 3px;
    font-size: 1rem;
    margin: 0 6px;
    padding: 3px;
    transition: linear 0.1s;
}
/*
.nav__items::before {
    background-color: #333;
    content: "";
    display: block;
    width: 80px;
    height: 1px;
}*/

.nav__items:hover {
    /*background-color: #ededed;
    color: #09f;*/
    text-decoration: underline solid #333;
}

/*----------------------
    メインビジュアル
----------------------*/
.mainvisual {
    height: 100vh;
    position: relative;
}

.mainvisual__container {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,-40%);
    text-align: center;
    color: #fff;
    
}

.mainvisual__name {
    margin: 0;
    line-height: 5.5rem;
    font-size: 4rem;
}

.mainvisual__portforio {
    font-size: 2.5rem;
    margin: 0;
}

.mainvisual__caption {
    margin-top: 1rem;
    font-size: 2.5rem;
}


/*----------------------
    メイン・セクション
----------------------*/
.section-titles__container {
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    line-height: 200px;
    margin: 0;
    margin-bottom: 50px;
    position: relative;
}

.section-titles {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
}

.section-titles--front {
    font-size: 3rem;
    position: absolute;
    top:0;
    left: 0;
    
}

.section-titles--background {
    color: #fff;
    font-size: 10rem;
}

/*
.section-titles__container::before{
    content: "";
    background-color: #333;
    width: 10%;
    height: 2px;
    display: inline-block;
}

.section-titles__container::after{
    content: "";
    background-color: #333;
    width: 10%;
    height: 2px;
    display: inline-block;
}

*/

.icon {
    height: 40px;
    width: 40px;
}


/*----------------------
    WORKS
----------------------*/
#works {
    background-color: #eee;
}

.works__container {
    justify-content: space-around;
    flex-wrap: wrap;
}


.works__items {
    background-color: #fbfbff;
    border: 1px solid #bbb;
    border-radius: 20px;
    overflow: hidden;
    width: 26%;
    height: 300px;
    margin-bottom: 2rem;
    transition: linear 0.1s;
}

.works__items:hover {
    opacity: 0.9;
    transform: scale(1.01);
    box-shadow: 0 0 20px #444;
}

.works__items__img {
    width: 80%;
    height: 60%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
}

.works__items__text {
    padding: 0 10px;
}


.works__items__text__title {
    font-size: 1.2rem;
    margin-top: 7px;
    margin-bottom: 1px;
}

.works__items__text__caption {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 5px;
}


/*----------------------
    SKILL
----------------------*/
#skill {
    background-color: #eef;
}

.skill__img {
    background-color: #fff;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 1px solid #333;
}

.skill__container {
    flex-wrap: wrap;
}

.skill__items {
    width: calc(100%/2);
    height: 90px;
    margin-bottom: 40px;
}

.skill__text {
    height: 100%;
    box-sizing: border-box;
    padding: 0 15px;
}

.skill__text__name {
    height: 30%;
    margin: 0;
}

.skill__text__caption {
    height: 70%;
    margin: 0;
}


/*----------------------
    ABOUT
----------------------*/
#about {
    background-color: #e8ffff;
}

.about__container {
    height: 190px;
    width: 70%;
    margin: 0 auto;
}

.about__img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px solid #333;
}

.about__text {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    margin-left: 30px;
}

.about__text__dl {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    font-size:  1.1rem;
    font-weight: bold;
}

.about__text__dt {
    width: 35%;
    margin: 0;
    padding: 0;
}

.about__text__dd {
    width: 65%;
    margin: 0;
    padding: 0;
}

/*----------------------
    NEWS
----------------------*/
#news {
    background-color: #eee;
}

.news__wrapper {
    width: 60%;
    height: 400px;
    margin: 30px auto;
}

.tab {
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    font-weight: bold;
    margin: 0 3px;
    padding: 8px 15px;
    transition: linear 0.2s;
}

.selected {
    background-color: #22bbee;
    color: #fff;
}

.radio {
    display: none;
}

.newstopic__container {
    justify-content: center;
}

.newsitems__container {
    background-color: #fdfdfd;
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
    height: 100%;
}

.news__title {
    height: 20%;
    line-height: 5rem;
    margin-bottom: 0;
}

.news__list {
    width: 100%;
    height: 80%;
}

.news__items {
    width: 90%;
    line-height: 3rem;
    border-bottom: 1px solid #aaa;
    display: block;
    margin: 0 auto;
    text-align: left;
}


.news__date {
    width: 20%;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0 0 0 1%;
}

.news__caption {
    width: 74%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.news {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    text-align: center;
    top: 0px;
}

.opacity {
    opacity: 0;
    z-index: -10;
}


/*----------------------
    CONTACT
----------------------*/
#contact {
    background-color: #eee;
}

.contact__desc {
    width: 40%;
    margin: 0 auto;
    font-size: 1.1rem;
    text-align: center;
}

.contact__ways {
    width: 35%;
    margin: 30px auto;
    justify-content: space-around;
}

#contact a {
    color: #88f;
}



/*----------------------
    フッター
----------------------*/
.footer__copy {
    line-height: 80px;
    background-color: #333;
    text-align: center;
    color: #888;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: -20px;
}

.footer__toTop {
    line-height: 45px;
    display: block;
    margin: 0;
    text-align: center;
    background-color: #555;
}

.footer__toTop__arrow {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    line-height: 1;
    width: 1em;
    height: 1em;
    border: 3px solid currentColor;
    border-left: 0;
    border-bottom: 0;
    box-sizing: border-box;
    transform: translateY(25%) rotate(-45deg);
}




@media screen and (max-width:959px) {
    /*----------------------
        ヘッダー
    ----------------------*/
    .header__logo {
        font-size: 0.6rem;
    }

    /*----------------------
        WORKS
    ----------------------*/
    .works__container {
        flex-direction: column;
    }

    .works__items {
        width: 100%;
    }

    /*----------------------
        SKILL
    ----------------------*/
    .skill__container {
        flex-direction: column;
    }

    .skill__items {
        width: 100%;
        font-size: 0.9rem;
    }

    /*----------------------
        ABOUT
    ----------------------*/
    .about__container {
        flex-direction: column;
        width: 100%;
    }

    .about__img {
        max-width: 100px;
        max-height: 100px;
    }

    .about__text {
        margin: 0;
    }

    .about__text__dl {
        width: 100%;
    }

    .about__text__dt,
    .about__text__dd {
        width: 50%;
    }

    /*----------------------
        CONTACT
    ----------------------*/
    .contact__ways {
        width: 60%;
    }
}

@media screen and (max-width:481px) {
    /*----------------------
        ヘッダー
    ----------------------*/
    .header__logo {
        font-size: 0.5rem;
    }

    .nav__items {
        font-size: 0.7rem;
        margin: 0 2px;
        padding: 1px;
    }

    /*----------------------
        SKILL
    ----------------------*/
    .skill__items {
        flex-direction: column;
        height: auto;
    }

    /*----------------------
        ABOUT
    ----------------------*/
    .about__text__dl {
        font-size: 0.9rem;
    }

    /*----------------------
        CONTACT
    ----------------------*/
    .contact__desc {
        width: 100%;
        font-size: 1rem;
    }

    .contact__ways {
        font-size: 0.8rem;
    }
}